<div class="container-fluid">
    <div class="row about_end">
        <div class="col-sm-12 col-lg-7 col-12"><img width="100%" src="../../../assets/end.jpg" alt=""></div>
        <div class="about_end_two col-sm-12 col-lg-5 col-12">
            <h6>SUBSCRIBE TO OUR NEWSLETTER</h6>
            <h1>See The Latest Collection & Get Special Offer</h1>
            <div class="test-form">
                <input type="text" placeholder="Email address">
                <button>Subscribe</button>
            </div>
            <p>Cras interdum lectus velit nibh senectus fringilla ut.</p>

        </div>
    </div>
</div>  