<div class="container-fluid admin-dashboard">
    <app-header-admin></app-header-admin>

    <div class="card">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="bx bx-plus" class="p-button-success mr-2"
                    (click)="openNew()"></button>
                <button pButton pRipple [label]='"Delete"' icon="bx bx-trash" class="p-button-danger"
                    (click)="deleteSelectedProducts()"
                    [disabled]="!selectedProducts || !selectedProducts.length"></button>
            </ng-template>

            <ng-template pTemplate="right">
                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                    class="mr-2 inline-block"></p-fileUpload>
                <button pButton pRipple label="Export" icon="bx bx-upload" class="p-button-help"></button>
            </ng-template>
        </p-toolbar>

        <p-table #dt [value]="products" [rows]="10" [paginator]="true"
            [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
            [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center search-admin justify-content-between">
                    <h5 class="m-0">Manage Products</h5>
                    <span class="p-input-icon-left">
                        <p><i class="bx bx-search"></i></p>
                        <input bxnputText type="text" (input)="dt.filterGlobal($any($event.target).value,'contains')"
                            placeholder="Global Search" />

                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="name" style="min-width:15rem">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Image</th>
                    <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="price">Price Original <p-sortIcon field="price"></p-sortIcon></th>

                    <th pSortableColumn="category" style="min-width:10rem">Category <p-sortIcon
                            field="category"></p-sortIcon></th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="product"></p-tableCheckbox>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>

                        <p-image src="{{ product.img}}"
                            alt="Image" width="100px" [preview]="true"></p-image>

                    </td>
                    <td><del>{{ product.price | currency: 'USD' }}</del></td>
                    <td>{{ product.priceOriginal | currency: 'USD' }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{product.title}}</td>
                    <td>
                        <button pButton pRipple icon="bx bx-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editProduct(product)"></button>
                        <button pButton pRipple icon="bx bx-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteProduct(product)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">In total there are {{ products ?
                    products.length : 0 }} products.</div>
            </ng-template>
        </p-table>
    </div>



    <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="HC Shop" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <img  src="{{product.img}}" width="200px" [alt]="product.image"
                class="block m-auto pb-3 text-center" *ngIf="product.image" />
            <div class="field form-add">
                <label for="name">Name</label>
                <input type="text" bxnputText id="name" [(ngModel)]="product.name" required autofocus />
                <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small>
            </div>
            <div class="field form-add">
                <label for="img">Link Image</label>
                <input type="text" bxnputText id="img" [(ngModel)]="product.img" required autofocus />
                <small class="p-error" *ngIf="submitted && !product.img">Image is required.</small>
            </div>
            <div class="field form-add">
                <label for="title">Title</label>
                <textarea id="title" bxnputTextarea [(ngModel)]="product.title" required rows="3" cols="20"></textarea>
            </div>


            <div class="field">
                <label class="mb-3">Category</label>
                <div class="formgrid grid">
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category1" name="category" value="Bathroom"
                            [(ngModel)]="product.category"></p-radioButton>
                        <label for="category1">Bathroom</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category2" name="category" value="Bedroom"
                            [(ngModel)]="product.category"></p-radioButton>
                        <label for="category2">Bedroom</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category3" name="category" value="chair"
                            [(ngModel)]="product.category"></p-radioButton>
                        <label for="category3">chair</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category4" name="category" value="Sofa"
                            [(ngModel)]="product.category"></p-radioButton>
                        <label for="category4">Sofa</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category4" name="category" value="Table"
                            [(ngModel)]="product.category"></p-radioButton>
                        <label for="category4">Table</label>
                    </div>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label for="price">Price</label>
                    <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD"
                        locale="en-US"></p-inputNumber>
                </div>
                <div class="field col">
                    <label for="priceOriginal">priceOriginal</label>
                    <p-inputNumber id="priceOriginal" [(ngModel)]="product.priceOriginal" mode="currency" currency="USD"
                        locale="en-US"></p-inputNumber>
                </div>
                <div class="field col">
                    <label for="quantity">Quantity</label>
                    <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="bx bx-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="bx bx-check" class="p-button-text"
                (click)="saveProduct()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
<div class="message-rps">
    <div class="item-message">
        <div class="content-message-rps">
            <img src="../../../assets/HC-logo.png" width="100px" alt="">
            <h1>To continue, kindly log in using your computer.</h1>
        </div>
    </div>
</div>