<div class="bg-header-home">
  <div class="border-header-homePage">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink=""><img src="../../../assets/HC-logo.png" width="70px" alt=""></a>
          <button style="background-color: #edb932;" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link nav-link-spaced" aria-current="page" routerLink="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-spaced" aria-current="page" routerLink="/page/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-spaced" aria-current="page" routerLink="#">Room</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-spaced" aria-current="page" routerLink="/page/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-spaced" aria-current="page" routerLink="/page/contact">Contact Us</a>
              </li>
              <li class="nav-item cart-menu-header">
                <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right">
                  <span class="cart-header"><i class='text-white bx bxs-cart-alt'></i></span>
                </p-button>
              </li>
              <!-- Cường đz Nhớ css nhé -->
              <li>
                <!-- đoạn này khi có user trong local -->
                <ng-container *ngIf="user; else noUserTemplate">
                  <div class="user-profile">
                    <div class="card-user flex justify-content-center gap-2">
                      <p-avatar class="card-user-name" label="{{ user.name | slice:0:1 }}" shape="circle"></p-avatar>
                    </div>

                  </div>
                </ng-container>
                <!-- khi có user trong local nhé -->

                <!-- đoạn này khi không có user trong local -->
                <ng-template #noUserTemplate>
                  <div class="no-user-profile">
                    <button type="button" class="btn btn-outline-warning"> <a
                        routerLink="/vippro/signin">Signin</a></button>
                  </div>
                </ng-template>
                <!-- khi không có user trong local nhé -->
              </li>
              <!-- ok nhé -->
            </ul>

          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="banner-homePage container">
    <div class="text-banner-homePage">
      <p><i class='bx bx-minus'></i> KAYUU FURNITURE STORE</p>
      <h1>Make Yourself <br><br> At Home</h1>
      <p>Vestibulum, diam vulputate amet cras in diam quis turpis curabitur tellus aliquet tellus iaculis tempus,
        sollicitudin massa duis eleifend egestas turpis sit etiam commodo viverra lacinia ipsum convallis sed augue
        purus scelerisque non vestibulum elementum mi, pellentesque leo tincidunt integer.</p>
      <button routerLink="/page/products" class="btn"> Shop Now</button>
    </div>
  </div>
</div>
<div class="card flex justify-content-center">


  <p-sidebar [(visible)]="sidebarVisible" class="cart-header-right" position="right">
    <h1>Shopping Cart</h1>
    <div class="products-cart">
      <div class="row">
        <div class="col-md-2">
          <img src="../../../assets/new-collection-furniture-img.jpg" width="100%" alt="">
        </div>
        <div class="col-md-7">
          <div class="flex-auto">
            <label class="mb-2 block font-bold" for="horizontal">Name Products</label>
            <p-inputNumber [(ngModel)]="value3" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
              spinnerMode="horizontal" [step]="1" [min]="0" decrementButtonClass="p-button-custom"
              incrementButtonClass="p-button-custom" incrementButtonIcon="bx bx-plus"
              decrementButtonIcon="bx bx-minus"></p-inputNumber>
          </div>
        </div>
        <div class="col-md-3">
          <button class="btn btn-circle-border"><i class="bx bx-x"></i></button>
          <p>100.00$</p>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <div class="total-cart">
        <h3>Subtotal:</h3>
        <p>100.00$</p>
      </div>
      <p class="btn-footer-cart">
        <button class="btn" routerLink="/page/cart">VIEW CART</button>
      </p>
      <p class="btn-footer-cart">
        <button routerLink="" class="btn">CHECKOUT</button>

      </p>
    </ng-template>
  </p-sidebar>
</div>