.bg-header-home {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    background-image: linear-gradient(to right, #000000a1, #000000a1), url(../../../assets/bg-header-home.jpg);
}

.user-profile {
    background: #000;
}


.border-header-homePage {
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ffffff3d;
}

.nav-link-spaced {
    margin-right: 30px;
    color: #fff !important;
}

.cart-header {
    position: relative;
    font-size: 20px;
}

.cart-header::before {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: -12px;
    content: "0";
    background-color: #edb932;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    color: #000;
}

.bg-header-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.banner-homePage {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.text-banner-homePage :nth-child(1) {
    color: #edb932;
    padding: 0 0 0 20px;
}

.text-banner-homePage :nth-child(2) {
    color: #fff;
    font-size: 3rem;
    margin: 20px 0;
}

.text-banner-homePage :nth-child(3) {
    color: #fff;
    width: 50%;

}

.text-banner-homePage :nth-child(4) {
    background-color: #edb932;
    margin: 20px 0;
}


:host ::ng-deep .p-sidebar-right {
    width: 40%;
}

:host ::ng-deep .cart-menu-header .p-button {
    background-color: transparent !important;
    border: none;

}

@media (max-width:786px) {
    .text-banner-homePage :nth-child(3) {
        color: #fff;
        width: 100%;
    }

    :host ::ng-deep .p-sidebar-right {
        width: 90%;
    }

}

@media (max-width:1000px) {
    .cart-menu-header {
        display: none;
    }
}

.total-cart {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.btn-footer-cart button {
    background-color: #edb932;
    width: 100%;
    border-radius: 5px;
    transition: .2s linear;
    color: #000;
}

.btn-footer-cart:hover {
    transition: .2s linear;
    background-color: #edb8329c;
    color: #000;

}

.btn-circle-border {
    border: 1px solid #edb932;
    border-radius: 50%;
    padding: 3px 5px 0;
    margin-bottom: 10px;
}

.products-cart img {
    width: 100%;
    height: 100%;
}

:host ::ng-deep .p-button-custom {
    background-color: #edb932;
    border: none;
    outline: none;
}

:host ::ng-deep .p-button-custom:hover {
    background-color: #a77905;
    border: none;
    outline: none;
}