<div class="bg-header-home">
  <div class="border-header-homePage">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="#"><img src="../../../assets/HC-logo.png" width="70px" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link nav-link-spaced" aria-current="page" routerLink="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-spaced" aria-current="page" routerLink="/page/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-spaced" aria-current="page" routerLink="#">Room</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-spaced" aria-current="page" routerLink="/page/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-spaced" aria-current="page" routerLink="/page/contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="#"><span class="cart-header"><i
                      class='bx bxs-cart-alt'></i></span></a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="banner-homePage container">
    <div class="text-banner-homePage">
      <p><i class='bx bx-minus'></i> KAYUU FURNITURE STORE</p>
      <h1>Make Yourself At Home</h1>
      <p>Vestibulum, diam vulputate amet cras in diam quis turpis curabitur tellus aliquet tellus iaculis tempus,
        sollicitudin massa duis eleifend egestas turpis sit etiam commodo viverra lacinia ipsum convallis sed augue
        purus scelerisque non vestibulum elementum mi, pellentesque leo tincidunt integer.</p>
        <button class="btn">Shop Now</button>
    </div>
  </div>
</div>