<div class="cartPage">
    <div class="container">
        <div class="detail-cart-page">
            <h1 class="title-cart">CART</h1>
            <div class="row">
                <div class="col-md-8">
                    <table class="table text-center table-product">
                        <thead>
                            <tr>
                                <th scope="col">IMG</th>
                                <th scope="col">PRODUCT</th>
                                <th scope="col">PRICE</th>
                                <th scope="col">PRICE ORIGINAL</th>
                                <th scope="col">QUANLITY</th>
                                <th scope="col">SUBTOTAL</th>
                                <th scope="col">ACTION</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="../../../assets/furniture-store-about-store-img.jpg" width="50px" alt="">
                                </td>
                                <td>Tên Là gì đấy</td>
                                <td>90$</td>
                                <td>80$</td>
                                <td>
                                    <div class="flex-auto">
                                        <p-inputNumber [(ngModel)]="value2" mode="decimal" [showButtons]="true"
                                            inputId="minmax-buttons" [min]="0" [max]="10"> </p-inputNumber>
                                    </div>
                                </td>
                                <td>80$</td>
                                <td><i class="bx bx-x btn-circle-border"></i></td>
                            </tr>

                            <tr>
                                <td><img src="../../../assets/furniture-store-about-store-img.jpg" width="50px" alt="">
                                </td>
                                <td>Tên Là gì đấy</td>
                                <td>90$</td>
                                <td>80$</td>
                                <td>
                                    <div class="flex-auto">
                                        <p-inputNumber [(ngModel)]="value2" mode="decimal" [showButtons]="true"
                                            inputId="minmax-buttons" [min]="0" [max]="10"> </p-inputNumber>
                                    </div>
                                </td>
                                <td>80$</td>
                                <td><i class="bx bx-x btn-circle-border"></i></td>
                            </tr>
                            <tr>
                                <td><img src="../../../assets/furniture-store-about-store-img.jpg" width="50px" alt="">
                                </td>
                                <td>Tên Là gì đấy</td>
                                <td>90$</td>
                                <td>80$</td>
                                <td>
                                    <div class="flex-auto">
                                        <p-inputNumber [(ngModel)]="value2" mode="decimal" [showButtons]="true"
                                            inputId="minmax-buttons" [min]="0" [max]="10"> </p-inputNumber>
                                    </div>
                                </td>
                                <td>80$</td>
                                <td><i class="bx bx-x btn-circle-border"></i></td>
                            </tr>
                            <tr>
                                <td><img src="../../../assets/furniture-store-about-store-img.jpg" width="50px" alt="">
                                </td>
                                <td>Tên Là gì đấy</td>
                                <td>90$</td>
                                <td>80$</td>
                                <td>
                                    <div class="flex-auto">
                                        <p-inputNumber [(ngModel)]="value2" mode="decimal" [showButtons]="true"
                                            inputId="minmax-buttons" [min]="0" [max]="10"> </p-inputNumber>
                                    </div>
                                </td>
                                <td>80$</td>
                                <td><i class="bx bx-x btn-circle-border"></i></td>
                            </tr>
                            <tr>
                                <td><img src="../../../assets/furniture-store-about-store-img.jpg" width="50px" alt="">
                                </td>
                                <td>Tên Là gì đấy</td>
                                <td>90$</td>
                                <td>80$</td>
                                <td>
                                    <div class="flex-auto">
                                        <p-inputNumber [(ngModel)]="value2" mode="decimal" [showButtons]="true"
                                            inputId="minmax-buttons" [min]="0" [max]="10"> </p-inputNumber>
                                    </div>
                                </td>
                                <td>80$</td>
                                <td><i class="bx bx-x btn-circle-border"></i></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                <div class="col-md-4 right-cart-total">
                    <h1>Cart totals</h1>
                    <div class="text-right-cart-total">
                        <div class="item-cart-total">
                            <p>Subtotal</p>
                            <p>$224.00 $</p>
                        </div>
                        <div class="item-cart-total">
                            <p>Total</p>
                            <p>$224.00 $</p>
                        </div>
                        <p>Have a coupon ?</p>
                        <a routerLink=""><button class="btn btn-checkout">CHECKOUT</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>