<div class="container-fluid">

    <div class="signin">
        <div class="row d-flex justify-content-center align-items-center w-100">
            <div class="col-lg-12 col-xl-11 ">
                <div class=" text-black ">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <h2 class="fw-bold mb-2 text-uppercase text-center ">Login</h2>

                                <form class="mx-1 mx-md-4" [formGroup]="loginForm" (ngSubmit)="submitForm()">

                                    <div class="d-flex flex-row mb-4">
                                        <div class="form-icon">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        </div>
                                        <div class="card flex justify-content-center">
                                            <div>
                                                <span class="p-float-label">
                                                    <input type="email" pInputText id="email" formControlName="email" />
                                                    <label htmlFor="email">Email</label>
                                                </span>
                                                <div *ngIf="submitted && loginForm.controls['email'].invalid && loginForm.controls['email'].touched"
                                                    class="error-message">
                                                    Username is required.
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="d-flex flex-row mb-4">
                                        <div class="form-icon">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        </div>
                                        <div class="card flex justify-content-center">
                                            <div>
                                                <span class="p-float-label">
                                                    <input type="password" pInputText id="password"
                                                        formControlName="password" />
                                                    <label htmlFor="password">Password</label>
                                                </span>
                                                <div *ngIf="submitted && loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
                                                    class="error-message">
                                                    Password is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="pass-up ">
                                        <div class="row">
                                            <div class="pass-up-forgot col-md-5">
                                                <a class="small text-muted" href="#!">Forgot password?</a>
                                            </div>
                                            <div class="pass-up-register col-md-7">
                                                <p class="text-center" style="color: #000000;">Don't account? <a
                                                        routerLink="/vippro/signup" style="color: #1426e8;">Register
                                                        here</a>
                                                </p>
                                            </div>
                                            <div class="btn-signin d-flex justify-content-center ">
                                                <!-- <button type="submit" class="btn">Sign in</button> -->
                                                <div class="card-btn">
                                                    <p-toast position="top-center"></p-toast>
                                                    <button type="submit" pButton pRipple label="Login"
                                                        class="p-button-success"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </form>
                                <div class="divider d-flex align-items-center my-4">
                                    <p class="text-center fw-bold mx-3 mb-0">Or</p>
                                </div>

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <div
                                        class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">

                                        <a routerLink="">
                                            <button class="btn-icon mx-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                    viewBox="0 0 24 24" style="fill: #bc9127;transform: msFilter">
                                                    <path
                                                        d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </a>

                                        <a routerLink="">
                                            <button class="btn-icon mx-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                    viewBox="0 0 24 24" style="fill: #bc9127;transform: msFilter">
                                                    <path
                                                        d="M12.001 2.002c-5.522 0-9.999 4.477-9.999 9.999 0 4.99 3.656 9.126 8.437 9.879v-6.988h-2.54v-2.891h2.54V9.798c0-2.508 1.493-3.891 3.776-3.891 1.094 0 2.24.195 2.24.195v2.459h-1.264c-1.24 0-1.628.772-1.628 1.563v1.875h2.771l-.443 2.891h-2.328v6.988C18.344 21.129 22 16.992 22 12.001c0-5.522-4.477-9.999-9.999-9.999z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </a>

                                        <a routerLink="">
                                            <button class="btn-icon mx-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                    viewBox="0 0 24 24" style="fill: #bc9127;transform: msFilter">
                                                    <path
                                                        d="M20.947 8.305a6.53 6.53 0 0 0-.419-2.216 4.61 4.61 0 0 0-2.633-2.633 6.606 6.606 0 0 0-2.186-.42c-.962-.043-1.267-.055-3.709-.055s-2.755 0-3.71.055a6.606 6.606 0 0 0-2.185.42 4.607 4.607 0 0 0-2.633 2.633 6.554 6.554 0 0 0-.419 2.185c-.043.963-.056 1.268-.056 3.71s0 2.754.056 3.71c.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.043 1.268.056 3.71.056s2.755 0 3.71-.056a6.59 6.59 0 0 0 2.186-.419 4.615 4.615 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.187.043-.962.056-1.267.056-3.71-.002-2.442-.002-2.752-.058-3.709zm-8.953 8.297c-2.554 0-4.623-2.069-4.623-4.623s2.069-4.623 4.623-4.623a4.623 4.623 0 0 1 0 9.246zm4.807-8.339a1.077 1.077 0 0 1-1.078-1.078 1.077 1.077 0 1 1 2.155 0c0 .596-.482 1.078-1.077 1.078z">
                                                    </path>
                                                    <circle cx="11.994" cy="11.979" r="3.003"></circle>
                                                </svg>
                                            </button>
                                        </a>

                                        <a routerLink="">
                                            <button class="btn-icon mx-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                    viewBox="0 0 24 24" style="fill: #bc9127;transform: msFilter">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://media.istockphoto.com/id/1281150061/vector/register-account-submit-access-login-password-username-internet-online-website-concept.jpg?s=612x612&w=0&k=20&c=9HWSuA9IaU4o-CK6fALBS5eaO1ubnsM08EOYwgbwGBo="
                                    class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>