<div class="product-detail-page">
    <div class="container product-detail">
        <div class="row">
            <div class="col-md-6 img-product-detail">
                <img *ngIf="product" src="{{product.img}}" width="100%" class="text-center" alt="">
            </div>

            <div class="col-md-6">
                <div class="item-product-detail">
                    <h2 *ngIf="product">{{product.name}}</h2>
                    <p *ngIf="product"><del>{{product.price}} .00 $</del> <span>{{product.priceOriginal}}.00 $</span>
                    </p>
                    <p *ngIf="product">{{product.title}}</p>
                    <div class="flex-auto">
                        <label class="mb-2 block font-bold" for="minmax-buttons">Quantity </label>
                        <p-inputNumber [(ngModel)]="value2" mode="decimal" [min]="0" [max]="10" [showButtons]="true"
                            inputId="minmax-buttons" styleClass="custom-inputNumber"></p-inputNumber>
                    </div>
                    <button class="btn btn-add-detailPage">ADD TO CART</button>
                    <hr>
                    <p>Category : <span *ngIf="product">{{product.category}}</span></p>
                </div>
            </div>
        </div>



        <div class="review-product-detail">
            <div class="card">
                <p-tabView>
                    <p-tabPanel class="Description" header="Description">
                        <div class="row">
                            <div class="col-md-6 col-12 col-lg-6">
                                <img src="../../../assets/bg-04.jpg" width="100%" alt="">
                            </div>
                            <div class="col-md-6 col-12 col-lg-6 text-description">
                                <h2>Features</h2>
                                <p>Ut at ante diam. Vestibulum tincidunt lacus quis odio iaculis, nec iaculis ipsum
                                    hendrerit. Curabitur nec fringilla sem. Nullam at diam et ligula tincidunt luctus.
                                    Ut fringilla vitae orci eget suscipit. Etiam ultricies justo ac feugiat dignissim.
                                </p>
                                <p class="p-text-description"><i class='bx bx-check' style='color:#f99205'></i>
                                    Etiam eu tortor tempor, malesuada
                                </p>
                                <p class="p-text-description"><i class='bx bx-check' style='color:#f99205'></i>Nunc
                                    vitae erat sit amet neque varius consequat
                                </p>
                                <p class="p-text-description"><i class='bx bx-check' style='color:#f99205'></i>Lorem
                                    ipsum dolor sit amet</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-description">
                                <h2>Care Instructions</h2>
                                <p>Ut at ante diam. Vestibulum tincidunt lacus quis odio iaculis, nec iaculis ipsum
                                    hendrerit.</p>
                                <p class="p-text-description"><i class='bx bx-check' style='color:#f99205'></i>Etiam eu
                                    tortor tempor, malesuada</p>
                                <p class="p-text-description"><i class='bx bx-check' style='color:#f99205'></i>Nunc
                                    vitae erat sit amet neque varius consequat</p>
                                <p class="p-text-description"><i class='bx bx-check' style='color:#f99205'></i>Morbi
                                    nisi diam, cursus non ultricies</p>
                                <p class="p-text-description"><i class='bx bx-check' style='color:#f99205'></i>Lorem
                                    ipsum dolor sit amet</p>

                            </div>
                            <div class="col-md-6">
                                <img src="../../../assets/bg-02.jpg" width="100%" alt="">
                            </div>
                        </div>
                        <h1>Related products</h1>
                        <div class="list-products">
                            <div class="row" *ngIf="products && products.length >0">
                                <div class="col-md-4 col-lg-3 col-sm-6 col-12 item-products"
                                    *ngFor="let product of products">
                                    <img width="100%" src="{{product.img}}" alt="">
                                    <p class="category-title">
                                        {{product.category}}
                                    </p>
                                    <p class="name-products">{{product.name}}</p>
                                    <p class="price-products"><del>${{product.price}}</del>${{product.priceOriginal}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Reviews (0)" class="review-tab">
                        <p>There are no reviews yet.</p>
                        <h3>Be the first to review “Bathroom Wooden Table”</h3>
                        <p>Your email address will not be published. Required fields are marked *</p>
                        <div>
                            <span class="feeling-react">Your rating *</span><p-rating [(ngModel)]="value"></p-rating>
                            <p class="feeling-react">Your review *</p>
                            <textarea style="width: 100%; height: 100px;"></textarea>
                            <div class="row">
                                <div class="col-md-6 value-form-submit">
                                    <span class="p-float-label">
                                        <input pInputText id="username" [(ngModel)]="valueText" />
                                        <label htmlFor="username">Username</label>
                                    </span>
                                </div>
                                <div class="col-md-6 value-form-submit">
                                    <span class="p-float-label">
                                        <input pInputText id="email" [(ngModel)]="valueText" />
                                        <label htmlFor="username">Email</label>
                                    </span>
                                </div>
                            </div>
                            <button class="btn btn-submit-form" type="submit">SUBMIT</button>

                            <h1 class="h1-related">Related products</h1>
                            <div class="list-products">
                                <div class="row" *ngIf="products && products.length >0">
                                    <div class="col-md-4 col-lg-3 col-sm-6 col-12 item-products"
                                        *ngFor="let product of products">
                                        <img width="100%" src="{{product.img}}" alt="">
                                        <p class="category-title">
                                            {{product.category}}
                                        </p>
                                        <p class="name-products">{{product.name}}</p>
                                        <p class="price-products">
                                            <del>${{product.price}}</del>${{product.priceOriginal}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </p-tabPanel>

                </p-tabView>
            </div>
        </div>
    </div>

</div>