/* You can add global styles to this file, and also import other style files */
::selection{
    background-color: #EDB932;
    color: #000;
}
.style-all{
    width: 50px;
    height: 1px;
    background-color: #EDB932;
}